.bg{
    background: #0f222b!important;
    color: #666;
}
.group-3{
    column-count: 3;
    column-gap: 0.5px;
}
.text-justify{
    text-align: justify!important;
}
.group-2{
    column-count: 2;
    column-gap: 0.5px;
}
.bgg{
    background-color:rgb(245, 250, 243);
}
.body{
    min-height: 75vh;
    letter-spacing: q;
}
.nav-link:hover{
    color: rgb(0, 255, 21);
    border-left: 2px solid #0d6efd;
}
.bord-top{
    border-top: 2px solid #0d6efd;
}
.title-pic{
    margin-bottom: 5vh;
}
.interlab{
    color: green;
}
.soulign{
    border-bottom: 2px solid green;
}


@media screen and (max-width: 768px){
    .group-3{
        column-count: 1;
    }
    .group-2{
        column-count: 1;
    }
}