Options +FollowSymlinks
RewriteEngine On  
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteCond %{HTTPS} !on
RewriteRule ^(.+)\.php$ $1/ [R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)/?$ $1.php
# RewriteRule ^(.*)\/amour$ ^$1 [R=301]


